.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: white;
}

.app-logo {
    display: flex;
    align-items: center;
}

.app-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.app-logo h1 {
    font-size: 24px;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 13px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-right:11px
}

.logout-button:hover {
    background-color: #d32f2f;
}